p{
    background-color: aqua;
    margin-top: 100px;
}

/* .posisi-relative{
    background-color: coral;
    position: relative;
    right:70px;
    top: 50px;
} */

/* .posisi-relative{
    background-color: coral;
    position: absolute;
    left:20px;
    top: 50px;
} */
 .header{
    position: sticky;
    background-color: rgb(241, 199, 11, 0.8);
    top: 0px;
 }